#donuts-hero {

  background: url("../images/donuts-hero.png") no-repeat center;
  background-size: cover;
  height: 80vh;

}

#donuts .card-footer p {

  font-size: 24px;

}

#donuts .card {

  border: 3px solid $light;
  min-height: 586.922px;
  margin-top: 1.5rem;

}