footer {

  background-size: cover !important;
  background: url("../images/footer-background.png") no-repeat;

}

#locationPin img {

  max-width: 31px;

}

#phonePin img {

  max-width: 30px;

}

#emailPin img {

  max-width: 37px;

}

#openingHoursPin img {

  max-width: 46px;

}