h3 {

  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  color: $secondary;

}

h4 {

  font-size: 24px;
  font-weight: 700;

}

.display-1 {

  font-size: 36px;
  font-weight: 700;

}

.lead {

  font-size: 18px;
  font-weight: 400;

}

#cards-section .card h4 {

  font-size: 18px;
  font-weight: 500;

}

#cards-section .card p, #opening-hours .row p {

  font-size: 14px;
  font-weight: 400;

}

#cards-section .card a, #opening-hours .row a {

  font-size: 14px;
  font-weight: 500;

}

#opening-hours h2 {

  font-size: 36px;
  font-weight: 700;

}

#opening-hours .row h2 {

  font-size: 36px;
  font-weight: 500;

}