@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap');
@import "colors";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "typographi";
@import "buttons";
@import "header";
@import "bestilling";
@import "om-laekari";
@import "donuts";
@import "footer";

$theme-colors: (

    "primary": $primary,
    "secondary": $secondary,
    "light": $light

);

body {

    font-family: 'Roboto', sans-serif;
    color: $white;
    background: $black;

}

#front-page-parallax-image {

    background: url("../images/front-page-parallax-image.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    background-attachment: fixed;
    position: relative;

}

#front-page-jumbotron .lead {

    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

}

#front-page-jumbotron {

    background: url("../images/front-page-hero.png") no-repeat center;
    background-size: cover;
    height: 100vh;

}

#cards-section .lead {

    max-width: 700px;

}

#cards-section .card {

    background: $dark;
    border: 3px solid $light;
    min-height: 472.97px;

}